header {
    background-color: #f8f8f8;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 20px;
} 
.countryCard{
        display: flex;
        flex-direction: column;
        height: 160px;
        width: 160px;
        justify-content: center;
        align-items: center;
        border:1px solid #000;
        border-radius:5px;
        padding: 10px;
        margin:10px;
} 