header {
    background-color: #f8f8f8;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 20px;
} 
.countryCard{
    display: "flex",
        flexDirection: "column",
        height: "200px",
        width: "200px",
        justifyContent: "center",
        alignItems: "center",
        border:"1px solid #000",
        borderRadius:"5px",
        padding: "10px",
        margin:"10px",
} 